@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900|Open+Sans');

/*Dropzone*/
#dropZone {
  width: 70%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #FF0000;
  border-radius: 10px;
  transition: all 1s ease;
  box-shadow: 0 2px 15px 0 rgba(0,0,0,0.4);
  margin: 20px;
  background-color: white;
}

#dropZone:hover {
  box-shadow: 0 2px 20px 0 rgba(0,0,0,0.5);
}

#title {
  font-weight: 900;
  font-size: 32px;
}

#descr {
  font-weight: 400;
}


/*Download file*/
#downloadMe .active input {
  border-radius: 15px;
  font-family: "Montserrat";
  color: white;
  border: none;
  padding: 10px 20px;
  background: linear-gradient(135deg, #ef7070 0%, #FF0000 100%);
  transition: all 1s ease;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.4);
}

#downloadMe .active:hover input {
  background: linear-gradient(135deg, #FF0000 0%, #B22222 100%);
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.4);
}

#downloadMe .inactive input {
  border-radius: 15px;
  font-family: "Montserrat";
  color: white;
  border: none;
  padding: 10px 20px;
  background: linear-gradient(135deg, #ef7070 0%, #FF0000 100%);
  transition: all 1s ease;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.4);
  pointer-events:none;
  opacity: 0.5;
}



/*Global*/
body {
  font-family: "Montserrat";
  min-height: 100vh;
  display: flex;
  align-items: center;
  color: white;
  flex-direction: column;
  padding: 50px 0px 50px 0px;
  background: linear-gradient(135deg, #ef7070 0%, #FF0000 100%);
}
